[Unit]
Description=Raspberry Ninja as a system service
After=multi-user.target

[Service]
User=pi
Group=pi
Type=idle
Restart=always
RestartSec=5s
ExecStart=/usr/bin/python3 /home/pi/raspberry_ninja/publish.py --rpi --streamid xxxx123abc

[Install]
WantedBy=multi-user.target
